<div data-controller="profiles">
  <h1 class="font-bold text-4xl">Profiles#edit</h1>
  <p>Find me in app/views/profiles/edit.html.erb</p>
  <% @profile.images.each do |profile_image| %>
    <%= image_tag profile_image.representation(resize_to_limit: [200, 200]) %>
    <%= form_with url: profile_profile_image_path(@profile.id, profile_image.id), method: :delete do |f| %>
      <%= f.submit "この写真を削除する" %>
    <% end %>
  <% end %>

  <%= form_with model: @profile, multipart: true do |f| %>
    <%= f.text_field :name, placeholder: "見せたい名前" %>
    <%= f.text_area :description, size: "20x10", placeholder: "Markdown記法が使用できます" %>
    <button data-action="profiles#addProfileImageField">プロフィール画像を追加する</button>
    <div id="profile-image-fields"></div>
    <%= f.submit "更新" %>
  <% end %>
</div>
