<div class="w-full">
  <div class="container px-2 pt-4">
  <% if @profile %>
    <div class="px-2">
      <%= image_tag @profile.images.first.representation(resize_to_limit: [200, 200]), class: "rounded-lg m-auto w-full mb-3" %>
    </div>
    <div class="flex overflow-scroll mb-4">
      <% @profile.images.each do |profile_image| %>
        <div class="w-12 mr-2">
          <%= image_tag profile_image.representation(resize_to_limit: [50, 50]), class: "rounded-md w-full" %>
        </div>
      <% end %>
    </div>

    <p class="font-bold text-xl mb-2"><%= @profile.name %></p>
    <div class="text-sm text-stone-50 mb-4 markdown"><%= @profile.sanitized_description %></div>
    <div>
      <%= link_to edit_profile_path(@profile) do %>
        <button class="mb-4 inline-flex items-center gap-x-2 text-sm rounded-md bg-white px-3.5 py-2.5 font-semibold text-gray-900 shadow-sm hover:bg-gray-50">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
          <span>編集する</span>
        </button>
      <% end %>
    </div>
  <% else %>
  <div class="border-2 border-dashed rounded-lg bg-opacity-30 bg-white h-32 flex justify-center flex-col items-center mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
  </div>
  <p class="mb-3">プロフィールがまだ登録されていません</p>
  <%= link_to "登録する", new_profile_path, type: "button", class: "rounded-md bg-white px-3.5 py-2.5 font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50" %>
  <% end %>
  </div>
</div>
