<div class="w-full max-w-screen-xl pt-4 px-4 pb-6">
  <div class="w-full flex flex-col">
  <% if @profile %>
    <div class="px-8">
      <div class="w-full relative" data-controller="profiles" data-profiles-base-url-value="<%= application_url %>" data-profiles-username-value="<%= current_user.name %>">
        <%= image_tag @profile.images.first, class: "rounded-lg m-auto w-full mb-3 object-cover aspect-square" %>
        <img src="" class="w-full rounded-lg opacity-90 hidden" data-profiles-target="qrcodeImg"/>
        <button
          data-action="click->profiles#showQrcode"
          data-profiles-target="showQrcode"
          class="absolute bottom-2 right-2 text-gray-900 bg-white bg-opacity-95 w-20 h-20 rounded-lg border-gray-800 border-4 shadow-xl"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-16 h-16 m-auto">
            <path fill-rule="evenodd" d="M3 4.875C3 3.839 3.84 3 4.875 3h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 013 9.375v-4.5zM4.875 4.5a.375.375 0 00-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 00.375-.375v-4.5a.375.375 0 00-.375-.375h-4.5zm7.875.375c0-1.036.84-1.875 1.875-1.875h4.5C20.16 3 21 3.84 21 4.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5a1.875 1.875 0 01-1.875-1.875v-4.5zm1.875-.375a.375.375 0 00-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 00.375-.375v-4.5a.375.375 0 00-.375-.375h-4.5zM6 6.75A.75.75 0 016.75 6h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75A.75.75 0 016 7.5v-.75zm9.75 0A.75.75 0 0116.5 6h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zM3 14.625c0-1.036.84-1.875 1.875-1.875h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.035-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 013 19.125v-4.5zm1.875-.375a.375.375 0 00-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 00.375-.375v-4.5a.375.375 0 00-.375-.375h-4.5zm7.875-.75a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zm6 0a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zM6 16.5a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zm9.75 0a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zm-3 3a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75zm6 0a.75.75 0 01.75-.75h.75a.75.75 0 01.75.75v.75a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75v-.75z" clip-rule="evenodd" />
          </svg>
        </button>
        <button
          data-profiles-target="hideQrcode"
          data-action="click->profiles#hideQrcode"
          class="absolute text-white w-20 h-20 hidden rounded-full bg-red-700 right-0 left-0 -bottom-24 mx-auto my-0 shadow-2xl"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-full f-hull">
<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
</svg>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-3 mb-4" data-controller="lightbox">
      <% @profile.images.each do |profile_image| %>
        <%= image_tag profile_image, class: "rounded-md w-full object-cover aspect-square" %>
      <% end %>
    </div>

    <p class="font-bold text-3xl mb-2"><%= @profile.name %></p>
    <div class="text-sm text-stone-50 mb-2 markdown"><%= @profile.sanitized_description %></div>
    <div class="flex flex-row flex-wrap pt-4 mb-8">
      <% @profile.profile_badges.each do |profile_badge| %>
        <div class="inline-block py-1 px-3 border-2 rounded-3xl text-black mr-2 mb-2" style="background-color: <%= profile_badge.background_color_code %>; border-color: <%= profile_badge.border_color_code %>"><%= profile_badge.text %></div>
      <% end %>
    </div>
    <div>
      <%= link_to edit_profile_path(@profile), class: "mb-4" do %>
        <button class="mb-4 inline-flex items-center gap-x-2 text-sm rounded-md bg-white px-3.5 py-2.5 font-semibold text-gray-900 shadow-sm hover:bg-gray-50">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
          <span>編集する</span>
        </button>
      <% end %>
      <div>
        <h3 class="text-2xl font-bold mb-2">知り合った人達<%= @friends.present? ? " (#{@friends.size}人)" : '' %></h3>
        <ul class="mb-8">
          <% @friends.each do |friend| %>
            <li class="flex flex-row items-center">
              <%= link_to user_path(username: friend.name), class: "inline-block w-full flex flex-row items-center bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg mb-1" do %>
                <%= image_tag friend.profile.images&.first || "", class: "w-20 h-20 mr-4 rounded-lg" %>
                <div class="w-full flex flex-row flex-wrap">
                  <p class="text-xl mr-4"><%= friend.profile.name %></p>
                  <p class="underline underline-offset-2"><%= "@#{friend.name}" %></p>
                </div>
              <% end %>
            </li>
          <% end %>
          <li>
        </ul>
      </div>
    </div>
  <% else %>
  <div class="border-2 border-dashed rounded-lg bg-opacity-30 bg-white h-32 flex justify-center flex-col items-center mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
  </div>
  <p class="mb-3">プロフィールがまだ登録されていません</p>
  <%= link_to "登録する", new_profile_path, type: "button", class: "rounded-md bg-white px-3.5 py-2.5 font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50" %>
  <% end %>
  </div>
</div>
