<div class="w-full">
  <div class="flex flex-col items-center">
    <div class="pt-5">
      <h1 class="font-bold text-4xl text-center mb-10">Login</h1>
      <div class="mb-10 flex justify-center">
        <%= form_tag "/auth/github", method: :post, data: { turbo: false } do %>
          <%= button_tag type: "submit", class: "bg-white px-4 py-2 text-gray-900 rounded-lg shadow border-black border flex flex-row items-center" do %>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" ><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
            <span class="font-semibold text-lg pl-3">Login with GitHub</span>
          <% end %>
        <% end %>
      </div>
      <div class="mb-14">
        <details class="text-center w-72">
          <summary class="mb-4">For operators</summary>
          <%= form_with url: "/auth/email", method: :post, data: { turbo: false } do |f| %>
            <%= f.label :email, "Email address", class: "block font-bold mb-2 text-left" %>
            <%= f.email_field :email, class: "block rounded mb-4 w-full" %>
            <%= f.label :password, "password", class: "block font-bold mb-2 text-left" %>
            <%= f.password_field :password, class: "block rounded mb-4 w-full" %>
            <%= f.submit "Login", class: "block border bg-white shadow border-gray-500 rounded px-4 py-2 cursor-pointer mx-auto" %>
          <% end %>
        </details>
      </div>
    </div>
    <% if logged_in? %>
      <div>
        <p>You are logged in. <%= link_to "If you want to log out, click here", logout_path, class: "underline" %></p>
      </div>
    <% end %>
  </div>
</div>
