<h2 class="font-bold text-xl mb-8">Edit event "<%= @event.name %>" (id:<%= @event.id %>)</h2>
<div class="pr-8">
  <div class="mb-8">
    <%= form_with model: @event, url: admin_event_path(@event) do |f| %>
      <%= render partial: "admin/events/form", locals: { form: f, event: @event } %>
    <% end %>
  </div>
  <% if @ongoing_event %>
    <div class="mb-8">
      <%= form_with model: @ongoing_event, url: admin_ongoing_event_path(@ongoing_event) do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "Make this event ongoing", class: "block border shadow border-gray-500 rounded px-4 py-2 cursor-pointer" %>
      <% end %>
    </div>
  <% else %>
    <div class="mb-8">
      <%= form_with scope: :ongoing_event, url: admin_ongoing_events_path do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "Make this event ongoing", class: "block border shadow border-gray-500 rounded px-4 py-2 cursor-pointer" %>
      <% end %>
    </div>
  <% end %>
  <%= link_to "back to show", admin_event_path(@event), class: "underline" %>
</div>
