<div class="w-full flex justify-center">
  <div data-controller="live-streams"
    data-live-streams-day1-red-ja-value="<%=  @live_streams[:day1][:red_ja] %>"
    data-live-streams-day1-blue-ja-value="<%= @live_streams[:day1][:blue_ja] %>"
    data-live-streams-day2-red-ja-value="<%=  @live_streams[:day2][:red_ja] %>"
    data-live-streams-day2-red-raw-value="<%= @live_streams[:day2][:red_raw] %>"
    data-live-streams-day2-blue-ja-value="<%= @live_streams[:day2][:blue_ja] %>"
    data-live-streams-test-value="<%= @live_streams[:test] %>"
  >
    <div>
      <div class="flex space-x-10 justify-center pt-6">
        <%= link_to "Hall Red", event_live_streams_path(event_slug: @event.slug, anchor: "red"), class: "p-2 border rounded-full pill__hall-red cursor-pointer font-bold", id: "hall-red-link", data: { turbo: false } %>
        <%= link_to "Hall Blue", event_live_streams_path(event_slug: @event.slug, anchor: "blue"), class: "p-2 border rounded-full pill__hall-blue cursor-pointer font-bold", id: "hall-blue-link", data: { turbo: false } %>
      </div>
    </div>
    <div class="w-full max-w-4xl mt-6">
      <video id="video" src="" autoplay muted controls></video>
    </div>
  </div>
</div>
