<div class="w-full flex justify-center grow">
  <div data-controller="live-streams"
    data-live-streams-day1-red-ja-value="<%=  @live_streams[:day1][:red_ja] %>"
    data-live-streams-day1-blue-ja-value="<%= @live_streams[:day1][:blue_ja] %>"
    data-live-streams-day2-red-ja-value="<%=  @live_streams[:day2][:red_ja] %>"
    data-live-streams-day2-red-raw-value="<%= @live_streams[:day2][:red_raw] %>"
    data-live-streams-day2-blue-ja-value="<%= @live_streams[:day2][:blue_ja] %>"
    data-live-streams-test-value="<%= @live_streams[:test] %>"
    data-live-streams-backstage-value="<%= @backstage.to_s %>"
  >
    <div>
      <div class="flex space-x-10 justify-center pt-6">
        <button class="p-2 border rounded-full bg-[var(--color-2025-danger)] cursor-pointer font-bold" data-action="live-streams#switchToRed" id="hall-red-button">Hall Red</button>
        <button class="p-2 border rounded-full bg-[var(--color-2025-primary)] cursor-pointer font-bold" data-action="live-streams#switchToBlue" id="hall-blue-button">Hall Blue</button>
      </div>
    </div>
    <div class="w-full lg:max-w-4xl md:max-w-full mt-6">
      <video id="video" src="" autoplay muted controls class="aspect-video lg:min-w-[640px] md:max-w-full md:min-w-0 sm:min-w-0 border-2 rounded-sm"></video>
      <div id="cannot-view-stream-in-venue" data-live-streams-target="cannotViewStreamInVenue" class="hidden">
        <p><%= t(".cannot_view_stream_in_venue") %></p>
      </div>
    </div>
  </div>
</div>
