<div class="w-full max-w-screen-xl m-auto pt-4 px-4">
  <% @talks.group_by(&:start_at).each do |slot, talks| %>
    <section class="mb-6">
      <h2 class="font-bold text-2xl mb-3" id=<%= time_with_zone_to_anchor(slot) %>><%= time_with_zone_to_header(slot) %></h2>
      <section class="flex flex-row justify-between flex-wrap items-start">
        <% talks.each do |talk| %>
          <div class="w-full md:w-[48%] border border-white shadow-sm shadow-gray-400 rounded-lg mb-4 p-4">
            <div class="w-full flex">
              <div class="w-20">
                <% talk.speakers.each do |speaker| %>
                  <%= image_tag speaker.avatar_image_url, class: "rounded-lg" %>
                  <p class="text-sm block mb-2"><%= speaker.name %></p>
                <% end %>
                <p class="text-sm block mb-3"><%= talk.track %></p>
                <div class="w-6 h-6 -ml-1">
                  <%= render partial: "bookmark_button", locals: { talk: talk, user: current_user, user_bookmarks: @current_user_bookmarks } %>
                </div>
              </div>
              <div class="w-full pl-2">
                <h3 class="text-xl mb-3 break-all"><%= talk.title %></h3>
                <p class="text-white break-words mb-2 min-h-[5rem]"><%= truncate(talk.abstract, length: talk.speakers.size > 1 ? 250 : 150) %></p>
              </div>
            </div>
            <div class="text-right">
              <%= link_to "詳細を見る >>", event_talk_path(event_slug: @event.slug, id: talk.id), class: "underline text-right cursor-pointer w-full" %>
            </div>
        </div>
          <% end %>
      </section>
    </section>
  <% end %>
</div>
