<div class="w-full max-w-screen-xl pt-4 px-4 pb-6">
  <h2 class="text-2xl mb-2"><%= @talk.title %></h2>
  <div class="mb-3 text-sm flex flex-row justify-between items-center">
    <div>
      <span class="mr-2"><%= @talk.start_at.in_time_zone("Tokyo").strftime("%d日 %H:%M~") %></span>
      <span class="mr-2"><%= @talk.track %></span>
      <span><%= "#{@talk.duration_minutes} 分間" %></span>
    </div>
    <div class="w-8 h-8">
      <%= render partial: "bookmark_button", locals: { talk: @talk, user: current_user } %>
    </div>
  </div>
  <div class="mb-4 md:mb-6">
    <% @talk.speakers.each do |speaker| %>
      <div class="flex flex-col">
        <div class="flex flex-row items-center mb-2">
          <%= image_tag speaker.avatar_image_url, class: "rounded-lg w-12 h-12 md:w-14 md:h-14 mr-5" %>
          <p class="text-lg block"><%= speaker.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mb-4 md:mb-6">
    <h3 class="text-xl mb-2 font-bold">概要</h3>
    <div class="break-words markdown"><%= @talk.sanitized_abstract %></div>
  </div>
  <div class="mb-4 md:mb-6">
    <h3 class="text-xl mb-2 font-bold">発表者</h3>
    <% @talk.speakers.each do |speaker| %>
      <div class="mb-4">
        <h4 class="text-xl mb-2"><%= "#{speaker.name} " %><%= link_to "@#{speaker.github_username}", "https://github.com/#{speaker.github_username}", class: "underline" %></h4>
        <div class="flex flex-col">
          <div class="flex flex-row items-start mb-2">
            <%= image_tag speaker.avatar_image_url, class: "rounded-lg w-14 h-14 md:w-24 md:h-24 mr-5" %>
            <div class="block markdown"><%= speaker.sanitized_bio %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "発表一覧に戻る", event_talks_path(event_slug: @event.slug), class: "underline inline-block mb-8" %>
</div>
