<div class="flex flex-col px-4 pt-5 lg:px-8 lg:pt-10 w-full max-w-(--breakpoint-xl) mx-auto">
  <h1 class="font-bold text-2xl mb-4"><%= t('.title') %></h1>
  <hr class="mb-3">
  <section class="mb-4">
    <h2 class="font-bold text-2xl mb-3"><%= t('.subtitle') %></h2>
    <p class="mb-2"><%= t('.about_this_app') %></p>
    <p class="mb-2"><%= t('.about_this_app_more', link: link_to(t('.read_about_page'), about_path, class: "underline")).html_safe %><%= t('.you_can_use_menu') %></p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold text-2xl mb-3"><%= t('.talks') %></h2>
    <p class="mb-2"><%= link_to t('.read_talks_page'), event_talks_path(event_slug: current_event.slug), class: "underline" %><%= t('.you_can_use_menu') %></p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold text-2xl mb-3"><%= t('.announcements') %></h2>
    <p class="mb-2"><%= link_to t('.read_announcements_page'), event_announcements_path(event_slug: current_event.slug), class: "underline" %><%= t('.you_can_use_menu') %></p>
  </section>
  <section class="mb-4">
    <h3 class="font-bold text-2xl mb-2"><%= t('.profile') %></h3>
    <p class="mb-2"><%= link_to t('.register_your_profile'), profiles_path, class: "underline" %><%= t('.you_can_use_menu') %></p>
    <p class="mb-2"><%= t('.exchange_your_profile') %></p>
  </section>
</div>
