<h2 class="font-bold text-xl mb-4">Create new signage schedule assign</h2>
<div>
  <%= form_with model: @signage_schedule_assign, url: admin_signage_schedule_assigns_path do |f| %>
    <%= f.label :signage_schedule_id, "表示する時間帯", class: "block text-lg font-bold mb-2" %>
    <%= f.select :signage_schedule_id, @signage_schedules.map {|schedule| ["id: #{schedule.id} #{schedule.start_at}～#{schedule.end_at}", schedule.id]}, {}, class: "block rounded-sm mb-4" %>
    <%= f.label :signage_panel_id, "表示する面", class: "block text-lg font-bold mb-2" %>
    <%= f.select :signage_panel_id, @signage_panels.map {|panel| [panel.name, panel.id]}, {}, class: "block rounded-sm mb-4" %>
    <%= f.submit "Create", class: "block border shadow-sm border-gray-500 rounded-sm px-4 py-2 cursor-pointer" %>
  <% end %>
</div>
