<div class="mb-16">
<h2 class="font-bold text-xl mb-8">Talks</h2>
<div class="mb-8">
  <% all_event = @event.nil? %>
  <%= link_to "All events talks", admin_talks_path(), class: "rounded-md px-2.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 hover:bg-gray-50 #{all_event ? "bg-gray-50" : "bg-white"}" %>
  <% @events.each do |event| %>
    <% this_event = @event == event %>
    <%= link_to event.slug, admin_talks_path(event: event.slug), class: "rounded-md px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 hover:bg-gray-50 #{this_event ? "bg-gray-50" : "bg-white"}" %>
  <% end %>
</div>
<div class="rounded-sm w-full pr-8 shadow-xs">
  <table class="w-full divide-y border">
    <thead class="bg-gray-50">
      <tr>
        <th class="py-2 px-3 text-left">Speaker Icon</th>
        <th class="py-2 px-3 text-left">Speaker</th>
        <th class="py-2 px-3 text-left">Title</th>
        <th class="py-2 px-3 text-left">Start at</th>
        <th class="py-2 px-3 text-left">Track</th>
        <th class="py-2 px-3 text-left sr-only">Show</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 bg-white">
      <% @talks.each do |talk| %>
        <tr>
          <td class="p-3">
            <div class="flex flow-row flex-wrap">
              <% talk.speakers.each do |speaker| %>
                <%= image_tag speaker.avatar_image_url, class: "rounded-sm mb-1 w-24 h-24" %>
              <% end %>
            </div>
          </td>
          <td class="p-3"><%= talk.speakers.map(&:name).join(" ,") %></td>
          <td class="p-3"><%= talk.title %></td>
          <td class="p-3"><%= talk.start_at.in_time_zone("Tokyo") %></td>
          <td class="p-3"><%= talk.track %></td>
          <td class="p-3"><%= link_to "Show", admin_talk_path(talk), class: "underline" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @talks %>
</div>
