<h2 class="font-bold text-xl mb-8">Create new announcement</h2>
<div class="pr-8">
  <%= form_with model: @announcement, url: admin_announcements_path, method: :post do |f| %>
    <%= f.hidden_field :event_id, value: @announcement.event.id %>
    <%= f.label :title, "announce title", class: "block text-lg font-bold mb-2" %>
    <%= f.text_field :title, class: "block rounded-sm mb-4 w-[40rem]" %>
    <%= f.label :content, "announce content", class: "block text-lg font-bold mb-2" %>
    <%= f.rich_text_area :content, class: "block mb-4" %>
    <%= f.submit class: "block border shadow-sm border-gray-500 rounded-sm px-4 py-2 cursor-pointer" %>
  <% end %>
</div>

