<h2 class="font-bold text-xl mb-8">Users</h2>
<div class="rounded w-full pr-8 shadow-sm">
  <table class="w-full divide-y border">
    <thead class="bg-gray-50">
      <tr>
        <th class="py-2 px-3 text-left">Icon</th>
        <th class="py-2 px-3 text-left">Name</th>
        <th class="py-2 px-3 text-left">Role</th>
        <th class="py-2 px-3 text-left sr-only">Show</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 bg-white">
      <% @users.each do |user| %>
        <tr>
          <td class="p-3">
            <% if user.profile&.images&.first %>
              <%= image_tag user.profile.images.first.representation(resize_to_limit: [50, 50]), class: "rounded" %>
            <% end %>
          </td>
          <td class="p-3"><%= user.name %></td>
          <td class="p-3"><%= user.role %></td>
          <td class="p-3"><%= link_to "Show", admin_user_path(user), class: "underline" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
