<h2 class="font-bold text-xl mb-8">User <%= @user.name %> (id:<%= @user.id %>)</h2>
<div>
  <h3 class="font-bold text-lg mb-2">Id</h3>
  <p class="mb-4"><%= @user.id %></p>
  <h3 class="font-bold text-lg mb-2">Name</h3>
  <p class="mb-4"><%= @user.name %></p>
  <h3  class="font-bold text-lg mb-2">Role</h3>
  <p class="mb-4"><%= @user.role %></p>
  <%= link_to "edit", nil, class: "underline" %>
</div>
