<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "service_worker_installer" %>
    <link rel="manifest" href="<%= pwa_manifest_path %>">
  </head>

  <body class="bg-[#84240f] w-full">
    <%= render partial: "layouts/header_nav" %>
    <main class="mx-auto flex text-white">
      <%= yield %>
    </main>
  </body>
</html>
