<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <head>
    <title><%= page_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "service_worker_installer" %>
    <link rel="manifest" href="<%= pwa_manifest_path %>">
    <%= favicon_link_tag "icon.png" %>
    <%= favicon_link_tag "icons/2025/512.png", rel: "apple-touch-icon", type: 'image/png' %>
    <script>
      window.vapidPublicKey = new Uint8Array(<%= vapid_public_key_bytes %>)
    </script>
  </head>

  <body class="bg-theme-background w-full pb-safe">
    <%= render partial: "layouts/header_nav" %>
    <% flash.each do |message_type, message| %>
      <div class="py-3 px-5 mb-4 <%= message_type_style(message_type) %>">
        <%= message %>
      </div>
    <% end %>
    <main class="mx-auto flex text-black">
      <%= yield %>
    </main>
  </body>
</html>
