<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#84240f] w-full flex flex-col h-screen">
    <nav class="bg-white border-b">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a class="flex items-center">
          <%= image_tag "icon.png", class: "h-8 mr-3" %>
          <span class="font-semibold">Kaigi on Rails Conference App</span>
        </a>
      </div>
    </nav>
    <main class="w-full mx-auto flex text-white flex-grow overflow-scroll">
      <%= yield %>
    </main>
    <%= render partial: "layouts/bottom_nav" %>
  </body>
</html>
