<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "service_worker_installer" %>
    <%= favicon_link_tag "icon.png" %>
    <%= favicon_link_tag "icons/2024/512.png", rel: "apple-touch-icon", type: 'image/png' %>
    <link rel="manifest" href="<%= pwa_manifest_path %>">
    <script>
      window.vapidPublicKey = new Uint8Array(<%= vapid_public_key_bytes %>)
    </script>
  </head>

  <body class="bg-[#d7d2d0] w-full flex flex-col h-[100dvh]">
    <%= render partial: "layouts/header_nav" %>
    <% flash.each do |message_type, message| %>
      <div class="py-3 px-5 mb-4 <%= message_type_style(message_type) %>">
        <%= message %>
      </div>
    <% end %>
    <main class="w-full mx-auto pb-2 flex text-black flex-grow overflow-scroll">
      <%= yield %>
    </main>
  </body>
</html>
