<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "service_worker_installer" %>
    <%= favicon_link_tag "icons/2023/512.png", rel: "apple-touch-icon", type: 'image/png' %>
    <link rel="manifest" href="<%= pwa_manifest_path %>">
    <script>
      window.vapidPublicKey = new Uint8Array(<%= vapid_public_key_bytes %>)
    </script>
  </head>

  <body class="bg-[#84240f] w-full flex flex-col h-screen">
    <%= render partial: "layouts/header_nav" %>
    <main class="w-full mx-auto flex text-white flex-grow overflow-scroll">
      <%= yield %>
    </main>
    <%= render partial: "layouts/bottom_nav" %>
  </body>
</html>
